---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blogs/">Blog</a>

		<h1>Astro Blog Tutorial</h1>
		<p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur asperiores blanditiis modi, voluptatum praesentium eaque aperiam quia itaque aspernatur saepe, et libero pariatur deserunt alias eius assumenda voluptas iusto maxime.</span><span>Tempore aliquid iure, est quis quos asperiores non quia! Voluptatibus illum, laboriosam suscipit debitis voluptas rerum excepturi assumenda fugiat officia atque, quod dolore, temporibus maxime tenetur illo omnis non? Beatae.</span><span>Iste nam ipsam rerum consequatur assumenda molestias non! Consectetur veritatis veniam voluptatibus vel! Hic eum officia itaque ea excepturi nam rerum exercitationem ut accusantium, eos est numquam sequi ducimus quia?</span><span>Esse voluptas hic non at labore officia, amet laborum harum? Iure eveniet aspernatur voluptatibus! Soluta numquam voluptatem asperiores dolores, et id dicta qui, quae, ex vitae inventore debitis! Voluptas, quos?</span><span>Ratione error quasi et nesciunt quisquam, quis voluptatum qui eligendi excepturi dolor sed non fugit eveniet aliquid possimus atque voluptatem. Ratione saepe, quaerat nobis est repudiandae aspernatur beatae aut doloribus?</span></p>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto&display=swap');

		body{
			font-family: 'Roboto', sans-serif;
			font-size: 18px;
			background: #12c2e9;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			color: white;
		}
		h1{
			font-family: 'Playfair Display', serif;
			font-size: 64px;
			color: beige;
			margin: 1rem;
			text-shadow: 4px 4px 12px rgba(0,0,0,0.5);
		}
		p{
			margin: 1rem;
			max-width: 600px;
		}

</style>
